<section id="portfolio" class="site-section portfolio-section">
    <div class="container">
        <header class="heading">
            <h2>Portfolio</h2>
        </header>
        <ul class="filter">
            <li data-group="all" class="active">Tous</li>
            {%  for projectCategory in projectsCategories %}
                <li data-group="{{ projectCategory.name | lower }}">{{ projectCategory.name }}</li>
            {% endfor %}
        </ul>
        <ul class="works">

            {% for project in projects %}
                <li data-groups="[{%  for projectCategory in project.projectCategories %}&quot;{{ projectCategory.name | lower }}&quot;{% if not loop.last %},{% endif %}{% endfor %}]" class="works-item">
                    <a href="#{% if 'losgo' in project.name|lower %}fx-losgo-project{% else %}works-item-details-{{ loop.index }}{% endif %}" class="works-item-link">
                        <img src="{{ vich_uploader_asset(project.getMainThumb, 'imageFile') | imagine_filter('project_thumb')  }}"/>
                    </a>
                    <div id="{% if 'losgo' in project.name|lower %}fx-losgo-project{% else %}works-item-details-{{ loop.index }}{% endif %}" class="popup mfp-hide fx-project">
                        <div class="slideshow">
                            {% for image in project.images %}
                                <figure>
                                    <img class="fx-project-screenshot {% if loop.length == 1 %}fx-project-single-screenshot{% endif %}" src="{{ vich_uploader_asset(image, 'imageFile') }}" width="750" height="500"/>
                                </figure>
                            {% endfor %}
                        </div>
                        <h3 class="fx-project-title">{{ project.name }}</h3>
                        <div class="fx-project-date-and-url">
                            <div class="date">{{ project.realizedAtDisplayString }}</div>
                            {% if project.url is not null %}
                                <div class="center"><a href="{{ project.url }}" class="btn-bordered">Voir le projet</a></div>
                            {%  endif %}
                        </div>
                        <p>{{ project.description }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="separator"></div>
</section>